/* Write your CSS here */

.list-container {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.list-element {
  background-color: grey;
  padding: 5px;
  margin: 10px;
}
.card {
  display: flex;
  justify-content: space-between;
}
.inner-card {
  display: flex;
}
.icon {
  align-self: center;
  margin-right: 10px;
}
